<div id="submitted-values">

    <h2>Available Groups:</h2>
    {% for group_name, group_details in groups.items() %}
    <div class="studyCont">
        <div class="headingCont">
            <div class="groupNameCont">
                <h3>{{ group_name }}</h3>
            </div>
            <div class="subjectCont">
                <h4>{{ group_details['Subject'] }}</h4>
            </div>
        </div>
        <p>{{ group_details['Description'] }}</p>
        <p>{{ group_details['Difficulty'] }}</p>

        <div class="joinCont">
            <a href="/join">Join</a>

        </div>
    </div>
    <br>
    {% endfor %}

