<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesHome.css">
    <title>Odyssey</title>
</head>

<body background>
    <a href="/create">create a group</a>
    <div class="slidercontainer">

        <form method="GET" action= "/">
            <label for="groupsize-input">Group Size: <span id="groupsize-value"></span></label>
            <input type="range" min="2" max="8" step="1" name="groupsize-input" id="groupsize-input"
                onchange="updateValue('groupsize')">
            <br>
        
            <select name="subjects">
                <option value="" disabled selected>Select Subject</option>
                <option value="MATHEMATICS">MATHEMATICS</option>
                <option value="LITERACY">LITERACY</option>
                <option value="SCIENCE">SCIENCE</option>
                <option value="HISTORY">HISTORY</option>
            </select>
        
            <select name="difficulty">
                <option value="" disabled selected>Select Difficulty</option>
                <option value="DUAL ENROLLMENT">Dual Enrollment</option>
                <option value="ADVANCED PLACEMENT">Advanced Placement</option>
                <option value="BASE LEVEL">Base Level</option>
                <option value="HONORS">Honors</option>
            </select>

           
        
            <input type="submit" value="Submit Form">
        </form>
        
        <div id="submitted-values"></div>

    

    </div>

    
    <div>

    <h2>Created Groups:</h2>
    {% for group_name, group_details in groups.items() %}
        <div class="studyCont">
            <div class="headingCont">
                <div class="groupNameCont">
                    <h3>{{ group_name }}</h3>
                </div>
                <div class="subjectCont">
                    <!-- Use capitalized keys as defined in your groups dictionary -->
                    <h4>Subject: {{ group_details['Subject'] }}</h4>
                </div>
            </div>
            <p>Description: {{ group_details['Description'] }}</p>
            <p>Difficulty: {{ group_details['Difficulty'] }}</p>

            <div class="joinCont">
                <a href="home.html">Join</a>
            </div>
        </div>
    {% endfor %}


         

        
        
     
            
        
    </div>
    
    
        
</body>

       
</html>
