<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesHome.css">
    <title>Odyssey</title>
</head>

<body background>
    <a href="/create">create a group</a>
    <div class="slidercontainer">

        <form>
            <label for="groupsize-input">Group Size: <span id="groupsize-value"></span></label>
            <input type="range" min="0" max="50000000" step="5000000" name="groupsize-input" id="groupsize-input"
                onchange="updateValue('price')">
            <br>

            <select name="subject">
                <option value="" disabled selected>Select Subject</option>
                <option value="mathematics">Mathematics</option>
                <option value="literacy">Literacy</option>
                <option value="science">Science</option>
                <option value="history">History</option>
            </select>

            <select name="difficulty">
                <option value="" disabled selected>Select Difficulty</option>
                <option value="Dual Enrollment">Dual Enrollment</option>
                <option value="Advanced Placement">Advanced Placement</option>
                <option value="Base">Base</option>
                <option value="Honors">Honors</option>
            </select>

            <input type="submit" value="Submit Form">
        </form>

    

    </div>

    
    <div>

        <h2>Created Groups:</h2>
        {% for group in groups %}
            <div class="studyCont">
                <div class="headingCont">
                    <div class="groupNameCont">
                        <h3>{{ group.groupName }}</h3>
                    </div>
                    <div class="subjectCont">
                        <h4>Subject: {{ group.subject }}</h4>
                    </div>
                </div>
                <p>Description: {{ group.description }}</p>
                <div class="joinCont">
                    <a href="home.html">Join</a>
                </div>

            </div>
        {% endfor %}
     
            
        
    </div>
    <script>
        function updateValue(type) {
            var inputElement = document.getElementById(type + '-input');
            var valueElement = document.getElementById(type + '-value');
            valueElement.textContent = inputElement.value;
        }
    </script>
</body>

       
</html>
